<div class="salesmen-nav-container">
  <div class="salesman-nav-first-container">
    <input class="nav-input" type="text" placeholder="suche..." [(ngModel)]="salesManFilter" (input)="filterChanged()"/>
</div>
  <div class="salesman-nav-container" *ngFor="let sm of this.filteredSalesMan; index as i" (click)="selectedSalesManChanged(sm.employeeId)">
    <div class="nav-employee-id"> {{ sm.employeeId }} </div>
    <div class="nav-name"> {{ sm.fullName }} </div>
    <div class="nav-icon"> + </div>
  </div>
</div>
