@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.salesman-nav-container {
  padding: .5em;
  background-color: #42b983;
  color: white;
  font-family: 'Lato', sans-serif;

  display: grid;
  grid-template-columns: 20% 70% 10%;
  grid-template-areas: "nav-employee-id nav-name nav-icon";
}

.nav-employee-id{
  grid-area: nav-employee-id;
}

.nav-name{
  grid-area: nav-name;
}

.nav-icon{
  grid-area: nav-icon;
}

.salesman-nav-container:hover {
  background-color: #607d8b;
}

.salesman-nav-first-container{
  padding: .75em .5em .5em .5em;
  background-color: #42b983;
  color: white;
}

.nav-input{
  opacity: .8;
  padding: .5em;
  width: 95%;
  margin: -.5em auto .5em;
  border: none;
  outline-width: 0;
}
