<div class="salesmen-details-container">
  <div class="loading" *ngIf="loading">
    <img src="assets/loading.gif" alt="this slowpoke moves" width=64/>
  </div>
  <div class="salesman-details" *ngIf="performanceRecord !== undefined && performanceRecord !== null && !loading">
    <div class="salesman-basics" *ngIf="salesMan !== undefined && salesMan !== null">
      <div class="salesman-name">
        <div class="pre">Full Name</div>
        {{ salesMan.fullName }}
      </div>
      <div class="salesman-employee-id">
        <div class="pre">Employee ID</div>
        {{ salesMan.employeeId }}
      </div>
      <div class="salesman-department">
        <div class="pre">Department</div>
        Sales
      </div>
    </div>
    <p>
    <div class="performance-record-container" *ngFor="let smr of performanceRecord.records ; index as i">
      <div class="performance-record"
           (click)="toggleDisplayPerformanceDetails('performance-record-details-' + smr.year)">
        Performance Record {{ smr.year}} - Total Bonus {{ calculateEvaluationTotalBonus(smr) }}
        <span *ngIf="this.auth.isCEO() && smr.approved === false || smr.approved === undefined">
          <input type="button" class="performance-record-approval" value="Approve Bonus" (click)="approveRecord(smr.year)"/>
        </span>
        <span *ngIf="smr.approved === true">
          - Approved
        </span>
      </div>
      <div class="performance-record-details" id="performance-record-details-{{smr.year}}">
        <div class="performance-record-evaluation">

          <div class="performance-record-evaluation-title">
            A orders evaluation  - Bonus: <span>{{ calculateSubEvaluationTotalBonus(smr.orders)}}</span>
          </div>
          <div class="orders-container">
            <table>
              <tr>
                <td>Product Name</td>
                <td>Customer Name</td>
                <td>Customer Ranking</td>
                <td>Quantity</td>
                <td>Price Each</td>
                <td>Salesman Bonus</td>
              </tr>
              <tr class="order" *ngFor="let order of smr.orders ; index as i">
                <td>{{ order.productName }}</td>
                <td>{{ order.customerName }}</td>
                <td>{{ mapClientRanking(order.customerRanking) }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.priceEach }}</td>

                <td *ngIf="(orderAdaption === true && orderAdaptionId === i)">
                  <input type="text" placeholder="generated" id="order-bonus-{{smr.year}}-{{i}}"/>
                </td>
                <td
                  *ngIf="(order.bonus !== null && order.bonus !== undefined) && (orderAdaption === false || orderAdaptionId !== i)">
                  {{ order.bonus }}
                </td>
                <td
                  *ngIf="(order.bonus === null || order.bonus === undefined) && (orderAdaption === false || orderAdaptionId !== i)">
                  0
                </td>

                <td *ngIf="(auth.isAllowedToEdit() && (orderAdaption === false || orderAdaptionId !== i))" (click)="toggleOrderAdaptation(i)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-wrench" viewBox="0 0 16 16">
                    <path
                      d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019l.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
                  </svg>
                </td>
                <td *ngIf="orderAdaption === true && orderAdaptionId === i">
                  <input type="button" value="safe" (click)="saveOrderAdaption(smr.year, order._id)"/>
                  <input type="button" value="cancel" style="margin-left: .5em" (click)="toggleOrderAdaptation(-1)"/>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="performance-record-evaluation">
          <div class="performance-record-evaluation-title">
            B social evaluation  - Bonus: <span> {{ calculateSubEvaluationTotalBonus(smr.social)}}</span>
          </div>
          <div class="social-container">
            <table>
              <tr>
                <td>Competence</td>
                <td>Target Value</td>
                <td>Actual Value</td>
                <td>Bonus</td>
              </tr>
              <tr class="order" *ngFor="let social of smr.social ; index as i">
                <td>{{ social.competence }}</td>
                <td
                  *ngIf="(adaption === false || adaptionId !== i) && social.targetValue !== undefined">{{ mapRanking(social.targetValue) }}</td>
                <td *ngIf="(adaption === false || adaptionId !== i) && social.targetValue === undefined">-</td>
                <td *ngIf="adaption === true && adaptionId === i">
                  <select id="target-value-{{smr.year}}-{{i}}">
                    <option *ngFor="let select of socialSelect; index as i" [value]="i + 1"
                            [selected]="social.targetValue === i + 1">{{select}}</option>
                  </select>
                </td>
                <td
                  *ngIf="(adaption === false || adaptionId !== i) && social.actualValue !== undefined">{{ mapRanking(social.actualValue) }}</td>
                <td *ngIf="(adaption === false || adaptionId !== i) && social.actualValue === undefined"> -</td>
                <td *ngIf="adaption === true && adaptionId === i">
                  <select id="actual-value-{{smr.year}}-{{i}}">
                    <option *ngFor="let select of socialSelect; index as i" [value]="i + 1"
                            [selected]="social.actualValue === i + 1">{{select}}</option>
                  </select>
                </td>
                <td *ngIf="(adaption === true && adaptionId === i)">
                  <input type="text" placeholder="generated" id="bonus-{{smr.year}}-{{i}}"/>
                </td>
                <td
                  *ngIf="(social.bonus !== null && social.bonus !== undefined) && (adaption === false || adaptionId !== i)">
                  {{ social.bonus }}
                </td>
                <td
                  *ngIf="(social.bonus === null || social.bonus === undefined) && (adaption === false || adaptionId !== i)">
                  0
                </td>

                <td *ngIf="(auth.isAllowedToEdit() && (adaption === false || adaptionId !== i))" (click)="toggleCompetenceAdaptation(i)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-wrench" viewBox="0 0 16 16">
                    <path
                      d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019l.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z"/>
                  </svg>
                </td>
                <td *ngIf="adaption === true && adaptionId === i">
                  <input type="button" value="safe" (click)="saveAdaption(smr.year, social._id)"/>
                  <input type="button" value="cancel" style="margin-left: .5em"
                         (click)="toggleCompetenceAdaptation(-1)"/>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="performance-record-evaluation">
          <div class="performance-record-evaluation-title">
            C feedback
          </div>
          <div class="feedback-container">
            <textarea id="feedback-{{smr.year}}" type="text" (input)="feedbackChanged()">{{smr.feedback.trim()}}</textarea>
            <div *ngIf="auth.isAllowedToEdit() && feedbackAdaption === true" class="feedbackInput">
              <input type="button" value="safe" (click)="saveFeedback(smr.year)"/>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
