@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.salesmen-details-container{
  font-family: 'Lato', sans-serif;
}

.salesman-basics{
  border-bottom: solid 1px #1d2025;
  padding: 1em 0 1em 0;
  font-weight: bold;
}

.performance-record{
  padding: .5em;
  background-color: #42b983;
  color: white;
}

.performance-record-details{
  background-color: #f0f8ff;
  display: none;
}

.performance-record-evaluation{
  padding: 0.5em;
  margin: 0 1em 0 1em;
}

.performance-record-evaluation-title{
  font-weight: bold;
}

select{
  padding: .5em;
  background-color: floralwhite;
  border-radius:3px;
  border: 0;
}

td{
  padding: 1em;
}

input{
  padding: .5em .5em .5em .5em;
  background-color: floralwhite;
  border-radius:3px;
  border: 0;
}

table, textarea{
  margin: .5em;
  width:100%;
  box-sizing:border-box;
  display:block;
  max-width:100%;
  line-height:1.5;
  padding:15px 15px 30px;
  border-radius:3px;
  border:1px solid #F7E98D;
  transition:box-shadow 0.5s ease;
  box-shadow:0 4px 6px rgba(0,0,0,0.12);
  background:linear-gradient(#F9EFAF, #F7E98D);
  background:-o-linear-gradient(#F9EFAF, #F7E98D);
  background:-ms-linear-gradient(#F9EFAF, #F7E98D);
  background:-moz-linear-gradient(#F9EFAF, #F7E98D);
  background:-webkit-linear-gradient(#F9EFAF, #F7E98D);
}

.pre{
  width: 130px;
  float: left;
}

.loading{
  text-align: center;
}


.feedbackInput{
  position: relative;
  left: 65vw;
  top: -7vh;
}

.performance-record-approval{
   background-color: #e9551d;
   padding: .5em;
   margin-left: 1em;
   color: white;
 }

.performance-record-approval:hover{
  background-color: #ff3c01;
  cursor: pointer;
}
