@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

nav {
  width: auto;
  margin: 0 0 .2em 0;
  padding: .5em;
  background-color: #42b983;
  font-family: 'Lato', sans-serif;
}

a {
  padding-left: .5em;
  color: white;
}

a:hover {
  cursor: pointer;
}
