<div class="login">
  <div class="login-text">
    Login
  </div>
  <div class="login-input-container">
    <div class="login-label">Username</div>
    <div class="login-input">
      <input type="text" id="username"/>
    </div>
  </div>
  <div class="login-input-container">
    <div class="login-label">Password</div>
    <div class="login-input">
      <input type="password" id="password"/>
    </div>
  </div>
  <div class="login-input-container">
    <div class="login-label"></div>
    <div class="login-input">
      <input type="button" value="login" (click)="login()"/>
    </div>
  </div>
  <div class="error" *ngIf="this.auth.hasAuthenticationError()">
    Username or Password is wrong.
  </div>
</div>
