@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.login {
  background-color: #42b983;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 1em 2em 1em 2em ;
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;

  border-radius:3px;
  border:1px solid #42b983;
  transition:box-shadow 0.5s ease;
  box-shadow:0 4px 6px rgba(0,0,0,0.12);

}

.login-text {
  font-size: large;
  margin: .5em;
}

.login-input-container {
  padding: .5em;
  display: grid;
  grid-template-columns: 50% 50% 10%;
  grid-template-areas: "label input";
}

.login-label {
  grid-area: label;
  text-align: center;
}

.login-input {
  grid-area: input;
  text-align: right;
}

input {
  background-color: white;
  color: #42b983;
  border: none;
  width: 100%;
  padding: .2em .3em .2em .3em;
  margin-right: .1em;
}

input[type=button] {
  width: 100px;
}


