<div class="performance-view" *ngIf="this.auth.isAuthenticated()">

  <div id="performanceNav" class="performance-nav">
    <app-sales-man (selectedSalesMan)="onSelectedSalesMan($event)" *ngIf="!this.auth.isSalesman()"></app-sales-man>
  </div>
  <div class="content">
    <app-sales-man-detail-view [salesManId]="salesManId"></app-sales-man-detail-view>
  </div>
</div>
<div *ngIf="!this.auth.isAuthenticated()">
  <app-auth></app-auth>
</div>
