@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.performance-view {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;

  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "performance-nav content";
}

.content {
  grid-area: content;
  padding: 1em 3em 1em 3em;
}

.performance-nav {
  text-align: left;
  grid-area: performance-nav;
  background-color: aliceblue;
  border-right: solid #42b983 3px;
  min-height: 100vh;
}

.half-input input {
  width: 50%;
  margin: 0.25em 0 0.25em 0;
}

.full-text-input textarea, .full-text-input input {
  width: 100%;
  margin: 0.25em 0 0.25em 0;
}

.error {
  text-align: center;
  color: crimson;
  padding: 1em;
}

@media (max-width: 710px) {
  .performance-view {
    grid-template-columns: 100%;

    grid-template-areas: "performance-nav" "content";
  }

  .performance-nav {
    height: auto;
  }

}

